@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body{
	background:#A9D7D1;
	margin:0px;
	padding:0px;
	min-width:350px;
	font-family: 'Raleway'; 
}
#title{
	text-align: center;	
	font-family: tahoma,serif;
	font-weight: 500;
	margin-top: 50px;
}
.inner-form{
	width:70%;
	margin: auto;
	background-color:#FAFAFA;
	border-radius:4px; 
	display: block;
	font-family: 'Raleway', Helvetica;
}
#description{
	padding-top: 30px;
	text-align: center;
	margin-left:5%;
	margin-right: 5%;
 	line-height:20px; 
 }
 .form-tag{
 	width:100%;
 	display: flex;
 	margin-bottom:20px; 
 }
 .label{
 	display: inline-block;
 	width:47%;
 	order:0;
	text-align: right;
	padding-right:20px; 
	margin-left: auto;
}
.input{
	margin-right: auto; 
	display: inline-block;
	width: 47%;	
	order:1;
	text-align: left;
}
.respo{
	height:20px;
	margin-top:-10px;
	padding-left: 5px;
	border:2px solid #c0c0c0c0;
	border-radius:2px;
	width:250px;
	max-width: 90%;
}
select{
	height:30px; 
}
input[type=radio],input[type=checkbox]{
	height:12px;
}
.radio{
	display: block;	
	margin:5px;
	margin-top:0px;
}
#checkbox label{
	display: block;	
	margin-bottom: 7px;
}
textarea{
	width:250px;
	max-width: 80%;
	height:50px;
	margin-right:10px;  
}
#submit{
	width:80px;
	min-width:48px;
	height:40px; 
	font-size:15px;
    background-color: #59ace0;
	border:2px solid transparent;
	border-radius:4px;
	color: white; 
	vertical-align: center;
	position: relative;
	left:50%;
	transform: translateX(-50%); 
	margin-bottom:20px; 
}
footer{
	color: black;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center; 
	text-align: center;
}
footer span{
	display: inline-block;
	color: #A9D;
	line-height:20px;
	margin-left: 3px; 
	font-weight:bolder;
	margin-top: 5px; 
}
@media screen and (max-width: 750px){
	.respo{
		width:70%;
	}
}
@media screen and (max-width:470px){
	.label{
		width:100%;	
		text-align:left;
		margin-left:10px;  
	}
	.form-tag{
		flex-wrap: wrap;	
	}
	.label,.input{
		width:100% !important;
		margin-top:7px;
		margin-left:15px;
	}
	.respo{
		width:80%;			
	}
}
